appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135889661/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341235959/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352018/work
ipython @ file:///Users/ec2-user/croot/ipython_1773317840347/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
jedi @ file:///Users/ec2-user/croot/jedi_1778681758103/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399009291/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171588/work
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1776188826613/work/dist/numpy-2.4.4-cp311-cp311-macosx_12_0_arm64.whl#sha256=6381819940a44fb34c161b825e5561a403c9f9bb64dc18044014be585b736f22
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1775480142316/work
parso @ file:///Users/ec2-user/croot/parso_1778674012754/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535935939/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975053/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744881146/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323688/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067067189/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127021103/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067039886/work
tornado @ file:///Users/ec2-user/croot/tornado_1774303634539/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743188716/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1767780856263/work
